﻿<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p><strong>10 octobre 2017</strong></p>
            <p>10:10 <span style="margin-left:10px">Certinergie</span></p>
        </div>
        <div class="col-md-6">
            <p>
                Nouveau commentaire du  cerfiticateur PEB
            </p>
            <p>
                Impossible d'acceder a une piece. Trop encombre
            </p>
            <p class="text-left">
                Impossible d'acceder a une piece. Trop encombre
            </p>
        </div>
        <div class="col-md-3">

        </div>
    </div>

    <div class="row" style="margin-top:30px">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <div class="form-group">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
            </div>
            <button type="button" class="btn btn-primary btn-sm">Envoyer</button>
            <p style="font-size:small">
                sera envoye a certinergie@certinergie.be, oliv_colin@hotmail.com, jean-marc@certinergie.be, sophie@certinergie.be
            </p>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>