﻿@{
    ViewBag.Title = "Notary App";
}

<div class="row">

    <div class="col-lg-3" style="background-color:#f1f5f8; margin-top:54px">
        <div class="row" id="clnt-info">
            <div class="col-md-12">
                <p>Nom du client</p>
                <p>Rue des soeur grises 16</p>
                <p>4500 Huy</p>
            </div>
        </div>
        <div class="row" id="bldg-type">
            <div class="col-md-12">
                <div style="background-color:#ffffff">
                    <div class="panel-heading" style="padding: 14px 14px 0px 14px;">
                        <span class="float-right" style="color:#2e87d7"><a href="#"><i class="fas fa-pen-square fa-lg"></i></a></span>
                        <p class="panel-title" >Immueble a appartements vendu de <span style="color: #000000 !important;">gre a gre a</span> 140.00</p>

                    </div>
                    <div class="panel panel-default" style="padding: 0px 14px;">
                        <div class="panel-body" style="padding-bottom:14px">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="clnt-label">Gestionnaire</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="clnt-dtl">Jean-Jacques L.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="clnt-label">Reference</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="clnt-dtl">201710-Bronckaert</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="clnt-label">Statut</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="text-success clnt-dtl">Visites <i class="fas fa-check-circle fa-xs"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="clnt-label">Facturation</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="text-danger clnt-dtl">2 Impayees <i class="fas fa-times-circle fa-xs"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer" style="border-top: 2px solid #f1f5f8;">
                            <div class="row ftr-ico" style="margin:10px 0px; color:#2e87d7; padding-bottom: 8px;">
                                <div class="col-md-3 text-center">
                                    <a href="#">
                                        <span class="fas fa-eye fa-lg"></span>
                                        <span class="ico-modals">Apercu</span>
                                    </a>
                                    
                                </div>
                                <div class="col-md-3 text-center">
                                    <a href="#">
                                        <span class="fas fa-comments fa-lg" ></span>
                                        <span class="ico-modals">Messages</span>
                                    </a>
                                </div>
                                <div class="col-md-3 text-center">
                                    <a href="#">
                                        <span class="fas fa-sticky-note fa-lg"></span>
                                        <span class="ico-modals">Notes</span>
                                    </a>
                                    
                                </div>
                                <div class="col-md-3 text-center">
                                    <a href="#">
                                        <span class="fas fa-history fa-lg"></span>
                                        <span class="ico-modals">Historique</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="link-modals" style="padding-top:15px">
            <div class="col-md-12" style="padding-top:6px"><button class="btn btn-block btn-primary text-left" type="button"><i style="margin-right:10px" class="fas fa-paper-plane"></i> Envoyer la plaquette virtuelle</button></div>
            <div class="col-md-12" style="padding-top:6px"><button class="btn btn-block btn-primary text-left" type="button"><i style="margin-right:10px" class="fas fa-paperclip"></i> Tous les documents</button></div>
            <div class="col-md-12" style="padding-top:6px"><button class="btn btn-block btn-primary text-left" type="button"><i style="margin-right:10px" class="far fa-dot-circle"></i> Annonces</button></div>
        </div>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">
        <div class="row" style="background-color:#ffffff; margin-top:50px">
            <nav class="col-lg-12 navbar navbar-expand-lg nav-lightgray">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <div class="col-md-12 text-center">
                                <a class="nav-link" href="#">
                                    <i class="fas fa-check-circle"></i>
                                    Photos <span class="sr-only">(current)</span>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="col-md-12 text-center">
                                <a class="nav-link" href="#">   
                                    Plans & visite virtuelle
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="col-md-12 text-center">
                                <a class="nav-link" href="#">
                                    Controles
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="col-md-12 text-center">
                                <a class="nav-link" href="#">
                                    
                                    Affichette
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="col-md-12 text-center">
                                <a class="nav-link" href="#">
                                    Livret
                                </a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </div>

        <div class="row" style="margin:10px 0px 5px 0px; color:#2e87d7">
            <a class="dwnld-span" href="#"><i class="fas fa-download fa-lg"></i>   Telecharger tout</a>
        </div>
        <div class="row">
            <div class="wrapper">

                <div class="column">
                    <div class="inner"></div>
                </div>
                <div class="column">
                    <div class="inner"></div>
                </div>
                <div class="column">
                    <div class="inner"></div>
                </div>
                <div class="column">
                    <div class="inner"></div>
                </div>
                <div class="column">
                    <div class="inner"></div>
                </div>
                <div class="column">
                    <div class="inner"></div>
                </div>
                <div class="column">
                    <div class="inner"></div>
                </div>
                <div class="column">
                    <div class="inner"></div>
                </div>
                <div class="column">
                    <div class="inner"></div>
                </div>
                <div class="column">
                    <div class="inner"></div>
                </div>
                <div class="column">
                    <div class="inner"></div>
                </div>
                <div class="column">
                    <div class="inner"></div>
                </div>
            </div>
        </div>

    </div>
    <!-- /.col-lg-9 -->

</div>